# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle
build/

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# Eclipse
.metadata
.classpath
.project
.settings/
bin/
tmp/

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nblibraries.properties

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
*.tar.gz
